@charset "UTF-8";
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #000000;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	/* [disabled]background-color: #252525; */
}
#wrapper {
	width: 100%;
}
h1 {
	color: #9A9A9A;
	font-weight: bolder;
	font-size: 80px;
	text-align: center;
	text-transform: capitalize;
	margin-top: 0px;
	margin-bottom: 0px;
}
a {
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
a:link {
	color: #000000;
	font-size: 25px;
}
#mainnav a:hover, #mainnav a:active, #mainnav a:focus, #mainnav a.thispage {
	text-decoration: none;
	background-color: #FFFFFF;
}
a:visited {
}
a:hover {
	color: #FF5456;
	font-weight: bolder;
	text-decoration: underline;
}
#mainnav ul {
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#mainnav a {
	width: 25%;
	display: block;
	float: left;
	text-align: center;
	/* [disabled]color: #9A9A9A; */
	background-color: #D3CDCE;
}
